body {
  background-color: #f1f9f9;
}

hr {
  border-style: dotted none none;
  border-color: #72b5b7;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #679b9b;
  font-family: Arial;
  font-size: 50px;
}

h2 {
  color: #679b9b;
  font-family: "Comic Sans MS";
}

h3 {
  color: #679b9b;
  font-family: "Trebuchet MS";
}

.profile {
  background-color: white;
}

.sdlc {
  background-color:white;
}
